.container{
    width: 25%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px 40px;
}

.title{
    font-size: 18px;
    font-weight: bold;

}
.price{
    font-size: 18px;
    font-weight: bold;
    color: #666;
}
.desc{
    text-align: center;
    color: #777777;
}
@media screen and (max-width: 480px) {
    .container {
        width: 100%;
    }

    .title {
        font-size: 30px;
    }

    .price,
    .desc {
        font-size: 24px;
    }
}